body {
  background-color: rgb(186, 219, 231);
}
.block {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(70, 195, 248) 26%,
    rgb(73, 189, 247) 81%
  );
  display: flex;
  z-index: 1;
  margin-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-around;
}
.img {
  overflow: hidden;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
.photo-card {
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid lightblue;
  background-color: white;
  box-shadow: 0 0 15px 4px rgba(0, 97, 142, 0.907);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgb(0, 242, 255);
}

.info {
  font-size: 20;
  color: rgba(8, 0, 255, 0.667);
}

b {
  margin: 0 10px;
  color: lightblue;
}

input[type='text'] {
  padding: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 174, 255, 0.907);
  border-radius: 10px;
}
.input {
  width: 100%;
  border: 2px solid rgb(73, 174, 241);
}

.input:hover {
  border: 5px solid lightblue;
}
.input::placeholder {
  color: lightskyblue;
}
.search-form {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.search-btn {
  width: auto;
  padding: 10px;
  border: 2px solid rgb(0, 200, 255);
  font-weight: 30;
  color: rgba(23, 14, 185, 0.907);
  box-shadow: 0 0 25px 2px rgb(0, 153, 255);
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(9, 159, 248, 1) 26%,
    rgb(0, 200, 255) 81%
  );
}

.search-btn:not(:disabled):hover {
  border: 2px solid lightblue;
}
.search-btn:disabled {
  border: 5px solid yellow;
  background: rgba(251, 255, 0, -5);
}

.load-more {
  width: auto;
  padding: 10px;
  border: 2px solid rgb(0, 200, 255);
  color: rgba(23, 14, 185, 0.907);
  box-shadow: 0 0 25px 2px rgb(0, 153, 255);
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(9, 159, 248, 1) 26%,
    rgb(0, 200, 255) 81%
  );
}

.load-more:hover {
  border: 2px solid lightblue;
}
.order-list-icon {
  margin-right: 10px;
}

.order-list-icon:hover {
  filter: grayscale(50%) sepia(50%);
}
